.reset-btn{
    border: none;
    border-radius: 0.5rem;
    background-image: linear-gradient(to right,rgb(44, 135, 255),rgb(255,70,37));
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    display: block;
}

.reset-btn:hover{
    border: none;
    border-radius: 0.5rem;
    background-image: linear-gradient(to right,rgb(255,70,37),rgb(44, 135, 255));
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    display: block;
}